#Secrets
backend/.env
secrets.toml

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.env.bak
*.env

# VSCode settings
.vscode/
.hintrc

# firebase
firebase_admin.json
firebase.*
storage.rules
pglite-debug.log
.firebaserc

# dataconnect 
dataconnect/