WATSONX_API_KEY=<WATSONX_API_KEY>
WATSONX_PROJECT_ID=<WATSONX_PROJECT_ID>
WATSONX_MODEL_ID=ibm/granite-3-8b-instruct
WATSONX_SPACE_ID=<WATSONX_SPACE_ID>
WATSONX_REGION=us-south

MONGO_DB_USERNAME=<MONGO_DB_USERNAME>
MONGO_DB_PASSWORD=<MONGO_DB_PASSWORD>
MONGO_DB_URI=<MONGO_DB_URI>

FIREBASE_PROJECT_ID=<FIREBASE_PROJECT_ID>
FIREBASE_API_KEY=<FIREBASE_API_KEY>

BASE_URL=http://localhost:8000
FRONTEND_URL=http://localhost:8501
